<!-- Style tag included to access @guest variable -->
<style>
  .image-container {
    background-image: url(<%= asset_path @guest.banner_pic %>);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 1000px auto;
    height: 1000px;
    margin: 0;
    padding: 0;
  }
</style>

<section class="main">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-3 sidebar">
        <div class="image-container">
        </div>
      </div>
      <div class="col-md-offset-3 col-md-4">
        <h1><%= "#{@guest.first_name} #{@guest.last_name}" %></h1>
          <div class= "profile_pic">
            <%=  cl_image_tag(@guest.profile_pic, :width => 400, :height => 200, :crop => :fill,
                                                        :gravity => :face, :alt => "#{@guest.last_name} Head Shot") %>
          </div>
          <p>
            <%= @guest.description %>
          </p>
          <p>
            <%= link_to "Back to Guests", guests_url %>
          </p>
      </div>

      <div class="col-md-5">
        <div class="tweet-vote"><br>
          <h3><%= "Use Your Daily Tweet Vote for #{@guest.first_name}!" %></h3>
          <%= render 'tweets/form' %>
        </div>
        <div class="votes">
          <%= "Votes #{@guest.votes}" %>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-offset-3 col-md-9">
        <h3>Links</h3>
        <div class="row">
        <% @guest.links.each do |link| %>
          <div class="col-md-4">
            <div class="links">
              <%= link_to(cl_image_tag(link.image,:width => 250, :height => 150, :crop => :fill,
                                                              :gravity => :face ), url_for(link.url), class: 'img-responsive') %>
              <%= link_to "#{link.title}", url_for(link.url) %>
            </div>
          </div>
        <% end %>
        </div>
      </div>
    </div>
  </div>
</section>
