<%= simple_form_for(@tweet) do |f| %>
  <% if @tweet.errors.any? %>
    <div id="error_explanation" >
      <h2><%= pluralize(@tweet.errors.count, "error") %> prohibited this tweet from being saved:</h2>
      <ul>
        <% @tweet.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= f.input :body, label: "Tweet this", input_html: { class:"form-control", rows: 3, readonly: true} %>
  </div>
  <%= f.input :guest_id, as: :hidden, value: @guest.id, input_html: { value: @guest.id } %>
  <% if logged_in? %>
    <% if current_user.tweets.since(1.day.ago).present? %>
      <span class="vote-conf">Your vote has been counted! You can vote again in 24 hours</span>
    <% else %>
      <%= f.submit "Tweet your vote", class: 'btn btn-primary' %>
    <% end %>
    <% else %>
    <div class="vote-conf">
      Sign in with Twitter to vote!
    </div>
  <% end %>
<% end %>
