<!DOCTYPE html>
<html>
<head>
  <title>Joe Rogan Experience Guests</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Arvo:400,700' rel='stylesheet' type='text/css'>
</head>
<body>

  <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <span class="jrgr">Joe Rogan Guest Request</span>
          <% if logged_in? %>
          <span class="twitter-status">
            Signed in as <%= current_user.name %>!
            <%= link_to "| Log Out", sessions_path, method: :delete %>
          <% else %>
            <%= link_to "Sign in with Twitter", "/auth/twitter" %>
          </span>
          <% end %>
        </div>
      </div>
    </nav>

    <div class="content">
      <% if flash[:notice] %>
        <div class="alert alert-warning alert-dismissible" role="alert" style="padding-top:50px;">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="false">&times;</span></button>
          <p id="notice">
            <%= flash[:notice] %>
          </p>
        </div>
      <% end %>
      <%= yield %>
    </div>

</body>
</html>
